---
import { getCollection } from "astro:content";
import PageLayout from "../../components/PageLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts.js";
import { postIsDraft, postUrl } from "../../utils.js";

const posts = (await getCollection("blog")).sort((a, b) =>
	b.data.published.localeCompare(a.data.published),
);
---

<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section>
		<h1>Posts</h1>
			{
				posts.map((post) => {
					const isDraft = postIsDraft(post);
					if (isDraft && !import.meta.env.DEV) {
						return <></>;
					}

					return (
						<>
							<a
								class={isDraft ? "draft" : ""}
								style="display: block"
								href={postUrl(post)}
							>
								<h4 class="title">{post.data.title}</h4>
								<p class="date">{post.data.published}</p>
							</a>
							<hr />
						</>
					);
				})
			}
		</section>
</PageLayout>
